<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.7.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto" style="    display: flex;justify-content: flex-start;gap: 10px;">
        <!-- Uncomment below if you prefer to use a text logo -->
         <a href="index.html" class=""><img src="assets/img/psg.png" alt="" title=""></a>
         <h1 style="text-transform: none;"><a href="/">PSG<span> iTECH</span></a></h1>
        
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="/events">Schedule</a></li>
          <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
          <li><a class="nav-link scrollto" href="/volunteer">Volunteers</a></li>
          <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/civil">CIVIL</a></li>
            <li><a href="/cse">CSE</a></li>
            <li><a href="/ece">ECE</a></li>
            <li><a href="/eee">EEE</a></li>
            <li><a href="/mech">MECH</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="https://docs.google.com/forms/d/e/1FAIpQLSc-uuMzw_qCyG94oDtH1SbyPHIswZEY8qizBfXkENO-_PR4gQ/viewform">Feedback</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="buy-tickets scrollto" href="/register">Register</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0" style="text-transform: none;"><br><span>iTECH</span> Expo-2022</h1>
      <p class="mb-4 pb-0">26-27 March, PSG iTECH, Coimbatore</p>
      <a href="https://youtu.be/FwTCsHHKan8" class="glightbox play-btn mb-4"></a>
      <p class="mb-4 pb-0">Total Visitors: <font color="red"><%=count %></font></p>
      <!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
  <!-- <img src="https://hitwebcounter.com/counter/counter.php?page=7965814&style=0001&nbdigits=4&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>                                     -->
                               
      <a href="#about" class="about-btn scrollto">About The Event</a>
      <a href="/searchby" class="about-btn scrollto">Know Your Visitor ID</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>The event aims to provide visitors with valuable insights into engineering technologies, college life and the overall campus ambience.
              It gives unique opportunities into the school students to interact with PSG iTech students and faculty members.
            </p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>PSG iTECH, Coimbatore</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>26 - 27 March<br>9 am - 5 pm</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Speakers Section ======= -->
    <!-- <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Brenden Legros</a></h3>
                <p>Quas alias incidunt</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                <p>Consequuntur odio aut</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                <p>Fugiat laborum et</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                <p>Non autem dicta</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>End Speakers Section -->

    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Current Event Schedule</h2>
          <!-- <p>Here is our current event schedule</p> -->
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab"><%=day%> March</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
          </li> -->
        </ul>

        <!-- <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
          necessitatibus voluptatem quis labore perspiciatis quia.</h3> -->

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="row schedule-item">
                
           
              <div >
                <h2 style="text-align: center;"><strong>EVENTS</strong></h2>
                <!-- <p>Here is our current event schedule</p> -->
              </div>
              <!-- <p style="text-align: center;"><strong>EVENTS</strong></p> -->
            
            <div class="col-md-2">
              
            </div>
            
          </div>

          <% if(timelist.length==0){%> 

            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
              
              <div class="row schedule-item">
                <h2>Oops! No events found. <a href="/events">Click here to find upcoming events</a></h2>
                </div>
                
                
            </div>

          
          <!-- Schdule Day 1 -->
          
            

            
          
          <!-- End Schdule Day 1 -->
          <% } else{ %> 
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
              <% timelist.forEach(time =>{%>
              <div class="row schedule-item">
                <%if(time.startmin===0){ %>
                  <div class="col-md-3"><time><%= time.starthr %>:00 <%=time.startnoon %> - <%= time.endhr %>:00 <%=time.endnoon %> </time></div>

                <% }else{ %>
                  <div class="col-md-3"><time><%= time.starthr %>:<%= time.startmin %> <%=time.startnoon %> - <%= time.endhr %>:<%=time.endmin %> <%=time.endnoon %> </time></div>

                <% }%>
                
                <div class="col-md-7">
                  <h4><%= time.ename %></h4>
                  <p><%= time.content %>  </p>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-sm"  style="border-radius: 12px;" href="<%=time.location %>">Navigate</a>
                </div>
                
              </div>
              <% })%>    
              
            </div>
            <% }%>
            
           <p style="text-align: center; color :crimson;"><span class="blink">**1st and 2nd Prizes will be awarded for above events**</span></p>

            <div class="row schedule-item">
                
              <div >
                <h2 style="text-align: center;"><strong>SEMINARS</strong></h2>
                <!-- <p>Here is our current event schedule</p> -->
              </div>
              
              
              
            </div>

            <% if(slist.length==0){%> 

              <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                
                <div class="row schedule-item">
                  <h2>Oops! No events found. <a href="/events">Click here to find upcoming events</a></h2>
                  </div>
                  
                  
              </div>
  
            
            <!-- Schdule Day 1 -->
            
              
            <!-- End Schdule Day 1 -->
            <% } else{ %> 
              <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                <% slist.forEach(sl =>{%>
                <div class="row schedule-item">

                  <%if(sl.startmin===0){ %>
                    <div class="col-md-3"><time><%= sl.starthr %>:00 <%=sl.startnoon %> - <%= sl.endhr %>:00 <%=sl.endnoon %></time></div>
  
                  <% }else{ %>
                    <div class="col-md-3"><time><%= sl.starthr %>:<%= sl.startmin %> <%=sl.startnoon %> - <%= sl.endhr %>:<%=sl.endmin %> <%=sl.endnoon %> </time></div>
  
                  <% }%>

                  
                  
                  <div class="col-md-7">
                    <h4><%= sl.ename %></h4>
                    <p><%= sl.content %>  </p>
                    <p>SPEAKER: <%=sl.speaker %></p>
                  </div>
                  <div class="col-md-2">
                    <a class="btn btn-success btn-sm"  style="border-radius: 12px;" href="<%=sl.location %>">Navigate</a>
                  </div>
                  
                </div>
                <% })%>    
                
              </div>
              <% }%>




            

        </div>

      </div>

    </section><!-- End Schedule Section -->

    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row g-0" style="text-align: center;">
           <!-- <div class="col-lg-12 venue-map">
            <a href="assets/img/site-map.jpg" download>
              <img src="assets/img/site-map1.jpg" alt="">
            </a>
             -->
             <div class="col-lg-12 col-md-4">
              <!-- <div class="venue-gallery"> -->
                <a href="assets/img/site-map.jpg" download>
                  <p style="text-align: center;">
                    <img src="assets/img/site-map.jpg" alt="" class="img-fluid">
                  </p>
                  
                </a>
              <!-- </div> -->
            
          </div> 

           <!-- <div class="col-lg-6 venue-info"> -->
            <!-- <div class="row justify-content-center"> -->
              
              
             
            <!-- </div> -->
          <!-- </div> -->
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= Hotels Section ======= -->
    <!-- <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Hotels</h2>
          <p>Her are some nearby hotels</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 1</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>0.4 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 2</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill-half-full"></i>
              </div>
              <p>0.5 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 3</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>0.6 Mile from the Venue</p>
            </div>
          </div>

        </div>
      </div>

    </section>End Hotels Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="assets/img/gallery/1.jpg" class="gallery-lightbox"><img src="assets/img/gallery/1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/2.jpg" class="gallery-lightbox"><img src="assets/img/gallery/2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/3.jpg" class="gallery-lightbox"><img src="assets/img/gallery/3.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/4.jpg" class="gallery-lightbox"><img src="assets/img/gallery/4.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/5.jpg" class="gallery-lightbox"><img src="assets/img/gallery/5.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/6.jpg" class="gallery-lightbox"><img src="assets/img/gallery/6.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/7.jpg" class="gallery-lightbox"><img src="assets/img/gallery/7.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/8.jpg" class="gallery-lightbox"><img src="assets/img/gallery/8.jpg" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Supporters Section ======= -->
    <section id="supporters" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Media Partners</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

         

          <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/supporters/7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/supporters/8.jpg" class="img-fluid" alt="">
            </div>
          </div>

        
          <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/supporters/10.jpg" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- End Sponsors Section -->

    <!-- =======  F.A.Q Section ======= -->
   

  
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
      
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Salem-Coimbatore Highway, Avinashi Road, Neelambur, Coimbatore, Tamil Nadu 641062</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:0422 393 3666">0422 393 3666</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>

        
          <br>
          <!-- <div class="text-center"><button type="submit">Send Message</button></div> -->
          <div class="text-center"><a class="btn btn-success btn-lg"  style="border-radius: 12px;" href="https://docs.google.com/forms/d/e/1FAIpQLSc-uuMzw_qCyG94oDtH1SbyPHIswZEY8qizBfXkENO-_PR4gQ/viewform">FEEDBACK</a></div>
          <br>
          
          
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>PSG iTECH EXPO 22</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
        
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>